* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    /* letter-spacing: .1rem; */
    color: #626d86;
    background-color: #eef0f6 !important;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

a {
    color: #626d86 !important;
    text-decoration: none;
}

a:hover {
    color: #4d576b;
}

.git-link {
    color: #626d86 !important;
    font-weight: 500;
}

.git-link:hover {
    color: #333333 !important;
    text-decoration: none;
}

td {
    color: #626d86 !important;
}

hr.container {
    background-color: #ffffff !important;
    height: 1px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.prl-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.prl-75 {
    padding-right: 75px;
    padding-left: 75px;
}

.prl-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-75 {
    margin-top: 75PX;
}

.mt-50 {
    margin-top: 50PX;
}

.mb-100 {
    margin-bottom: 100PX;
}

.mb-75 {
    margin-bottom: 100PX;
}

.mb-50 {
    margin-bottom: 100PX;
}

.default-spacing {
    letter-spacing: .1rem;
}

.color-1 {
    color: #626d86 !important;
}

.bg-grey {
    background-color: #eef0f6;
}

.bg-grey-landing {
    background-color: #999;
    /* background-color: #000000; */
}

.bg-white {
    background-color: #ffffff;
}

/* navbar */

.navbar.fixed-top {
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.5s ease;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

.navbar.scrolled {
    background-color: white !important;
}

.navbar .nav-link {
    color: #000000;
    letter-spacing: .1rem;
}

.navbar-brand,
.nav-icon {
    color: #000000 !important;
    font-weight: 600 !important;
}

/* .navbar-brand-home,
.nav-icon-home {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.navbar-brand-home:hover,
.nav-icon-home:hover {
    color: #394357 !important;
} */

.navbar-brand:hover,
.nav-icon:hover {
    color: #394357 !important;
}

.link-cont {
    font-size: 12px !important;
    color: #626d86 !important;
}

.link-cont:hover {
    color: #394357 !important;
}

.nav-icon {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
    /* color: inherit !important; */
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media screen and (max-width:768px) {
    .navbar.fixed-top {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-brand,
    .nav-icon {
        color: #000000 !important;
        font-size: 14px !important;
        /* font-weight: 500 !important; */
    }

    .image-container {
        offset: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.navbar-nav.nav-icons {
        display: flex;
        flex-direction: column;
    }
}

/* a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
} */


swiper-container {
    width: 100%;
    height: 100vh;
}

swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* landin section */

.landing-section {
    max-height: 648px;
    width: 100vw;
    padding-left: 0px !important;
    background-color: #1c1627 !important;
}

.landing-section img {
    opacity: 0.9;
    width: 100vw;
    max-height: 648px;
    object-fit: cover;
    position: relative;
}

@media screen and (max-width:768px) {
    .landing-section {
        height: 60vh;
        width: 100vw;
        padding-left: 0px !important;
        background-color: #eeeeee !important;
    }

    .landing-section img {
        opacity: 0.9;
        width: 100vw;
        height: 60vh;
        object-fit: contain;
        position: relative;
    }
}

.landing-section-proj {
    height: 60vh;
    position: relative;
    color: #ffffff !important;
}

.landing-section-proj a {
    transition: 0.3s all;
    color: #ffffff !important;
}

.landing-section-proj a:hover {
    color: #d3d3d3 !important;
}

.landing-section-proj img {
    position: absolute;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    /* opacity: ; */
}

.landing-content {
    height: 60vh;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.landing-section-proj-vid {
    height: 51vh;
    width: 70% !important;
}


.landing-section-proj-vid iframe {
    height: 50vh;
    width: 100%;
}
@media screen and (max-width:768px) {
    .landing-section-proj-vid {
        height: auto !important;
        width: auto !important;
    }
    .landing-section-proj-vid iframe {
        height: 100%;
        width: 100%;
    }
}

.landing-img-section{
    position: relative;
    height: 60vh;
    background-color: #ffffff;
}
.landing-img-section img{
    position: absolute;
    opacity: 0.65;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    mix-blend-mode: overlay;
}
.landing-content{
    z-index: 10;
}

@media screen and (max-width:768px) {
    .landing-section-proj {
        padding: 0px !important;
        height: 80vh !important;
    }

    .landing-section-proj img {
        padding: 0px !important;
        height: 80vh !important;
    }

    .landing-title {
        font-size: 24px;
    }

    .landing-content p {
        padding-top: 10px;
        font-size: 14px;
        text-align: center;
    }

}


/* .landing-section-proj-vid iframe {
    width: 91% !important;
} */

.singleProj-section-vid {
    height: 50vh;
    /* height: max-content; */
}

.singleProj-section-vid iframe {
    width: 80%;
}


.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Footer */
.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}

footer {
    color: #626d86;
}

footer p a {
    text-decoration: none;
    color: #626d86;
}

.footer-link:hover {
    color: #394357 !important;
}

@media screen and (max-width:427px) {
    .footer-content {
        column-gap: 20px;
    }

    .footer-content p {
        font-size: 14px;
    }
}

/* button */
.button-default {
    background-color: #000000 !important;
    color: #ffffff !important;
    letter-spacing: .1rem;
    border-radius: 23px !important;
    border: none !important;
    padding: 10px !important;
    font-size: 12px !important;
    transition: all 0.3s;
}

.button-landing {
    background-color: #000000 !important;
    color: #ffffff;
    letter-spacing: .2rem;
    border-radius: 30px !important;
    border: none !important;
    padding: 15px !important;
    font-size: 16px !important;
    transition: all 0.3s;
}

.button-default:hover {
    border: 1px solid #000000 !important;
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* Home page */

/* .hero-header {
    height: 100vh;
    background: url(assets/Landing\ gif.gif);
    background-color: #000000 !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.right-landing-gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-landing-gif video {
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

/* .hero-header img {
    animation: imgRotate 50s linear infinite;
} */

/* .hero-content.row{
    height: 100vh;
} */

/* Check landing video */
.hero-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* Full viewport height */
    /* background: url(assets/landing\ bg.jpg);
    object-fit: contain; */
    overflow: hidden;
}

/* #backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw !important;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
} */

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-lg-start {
    margin-top: 150px !important;
}

@media screen and (max-width:998px) {

    /* #backgroundVideo {
        min-width: 100% !important;
        min-height: 100% !important;
        width: auto !important;
        height: auto !important;
    } */
    /* #backgroundVideo {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100vh !important;
        height: 100vw!important;
        width: auto !important;
        height: auto !important;
    } */
    #backgroundVideo {
        transform: rotate(-90deg);
        top: 50%;
        left: 50%;
        width: 100vh;
        height: 100vw;
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    .hero-content {
        height: 100vh;
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .text-lg-start {
        margin-top: -30px !important;
    }
}

.hero-header .container {
    position: relative;
    z-index: 1;
}

.hero-header .hero-content h1,
.hero-header .hero-content p,
.hero-header .hero-content button {
    position: relative;
    z-index: 2;
}


.title-left {
    font-size: 42px;
    font-weight: 600;
}

.content-left {
    line-height: 1.75rem;
}

.image-container {
    height: 450px;
    width: 100%;
}

.image-container img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
}

/* .home-cards {
    display: flex;
    flex-wrap: wrap;
} */

.home-card {
    min-height: 300px;
    padding: 50px 25px 50px 25px;
    /* flex: 1 0 25%; */
    border: 1px solid #d3d3d3;
    margin: 0;
    transition: transform 0.2s ease-in, background-color 0.3s ease-in-out;
}

.home-cards-section {
    row-gap: 10px;
}

.home-card:hover {
    transform: scale(1.05);
    background-color: white;
    z-index: 1;
}

.home-card-content {
    height: 100%;
    /* max-width: 250px; */
    padding: 0px 20px;
    display: grid;
    grid-row: 1fr 3fr;
}

.home-card-content-down {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.home-card-content-down-para {
    /* max-width: 200px; */
    width: 100% !important;
    text-align: right;
}

.left-right {
    padding-left: 50px !important;
    padding-right: 50px !important;
    /* position: relative; */
}

.left-scroll {
    padding: 50px !important;
    border-right: solid 1px #d3d3d3;
}

.right-scroll {
    border-top: solid 1px #d3d3d3;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* Hide the scroll bar but allow scrolling */
.right-scroll::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.right-scroll {
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    scrollbar-width: none;
    /* For Firefox */
}


.left-scroll {
    /* position: relative;
    top: 0; */
    transition: top 0.3s;
}

.fixed {
    position: fixed;
    top: 10vh;
    width: inherit;
}

.right-scroll {
    max-height: 100vh;
    overflow-y: auto;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .left-fixed {
        position: fixed;
        top: 10vh;
        width: calc(33.3333% - 50px);
        z-index: 10;
        background-color: white;
    }

    .container.left-right {
        display: flex;
    }

    .right-scroll {
        max-height: calc(100vh - 10vh);
        overflow-y: auto;
        padding-left: 1rem;
    }
}

@media (max-width: 992px) {
    .home-cards-section {
        row-gap: 10px;
    }

    .left-scroll {
        padding: 20px !important;
    }
}

@media (max-width: 768px) {
    .title-left {
        font-size: 24px;
        font-weight: 500;
    }

    .left-right {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 0px !important;
        text-align: justify;
    }

    .section-about {
        gap: 30px;
        width: 100%;
    }

    .image-container {
        offset: none;
        display: flex;
        justify-content: center;
    }

    .image-container img {
        margin-left: 15px;
        max-height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:427px) {
    .hero-header h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .hero-header p {
        margin-top: 50px;
        font-size: 14px;
    }

    .left-right h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .left-right h3 {
        font-size: 22px;
        font-weight: 500;
    }

    .left-right p {
        font-size: 14px;
    }
}

@media screen and (min-width:427px) and (max-width:768px) {
    .hero-header h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .hero-header p {
        margin-top: 50px;
        font-size: 20px;
    }

    .left-right h2 {
        font-size: 32px;
        font-weight: 500;
    }

    .left-right h3 {
        font-size: 28px;
        font-weight: 500;
    }

}



/* Project section */

.project-section {
    background-color: #ffffff;
    padding-left: 50px !important;
    padding-right: 50px !important;
    position: relative;
    right: 0;
}

.overlay-container {
    position: relative;
    top: -75px;
    z-index: 10;
}

@media screen and (max-width:769px) {
    .overlay-container {
        top: 20px;
        padding: 40px 10px 40px 10px !important;
    }

    .overlay-container h5 {
        font-size: 20px;
        font-weight: 500;
    }

    .overlay-container ul li,
    .overlay-container p {
        font-size: 14px !important;
    }

}

.project-para {
    text-align: justify;
}

.card-custom {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-custom.hidden {
    display: none;
}

.card-custom img {
    width: 100%;
    /* height: auto; */
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.card-custom:hover img {
    transform: scale(1.05);
    /* Scale up the image by 5% */
}

.card-custom::before {
    content: "";
    position: absolute;
    top: 15px;
    /* Adjust as needed */
    right: 15px;
    /* Adjust as needed */
    width: 20px;
    height: 20px;
    background: url('https://via.placeholder.com/20') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.8);
    /* background-color: #eef0f6 !important; */
}

.card-custom:hover::before {
    opacity: 1;
    transform: scale(1);
}

.card-cont {
    /* padding: 15px; */
    padding: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    width: 100%;
    min-height: 70px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    color: #000000 !important;
}

.card-text {
    text-align: center;
    color: #666;
}

.card-meta {
    text-align: center;
    font-size: 0.875rem;
    color: #999;
    /* margin-top: 10px; */
}

@media screen and (max-width:426px) {
    .button-area {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .card-cont {
        height: auto !important;
    }
    .card-title {
        font-size: 0.75rem !important;
        font-weight: 600;
    }
    .card-meta{
        font-size: 0.65rem;
    }
}

@media screen and  (min-width:768px) and (max-width:1200px){
    .card-cont {
        height: 100;
    }
    .card-title {
        font-size: 1rem !important;
        font-weight: 600;
    }
    .card-meta{
        font-size: 0.75rem;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    .button-area {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}

/* Single Proj section */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.owl-carousel {
    width: 50vw;
    height: 65vh;
}

.owl-carousel img {
    width: 50vw;
    height: 65vh;
    object-fit: cover;
}


/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.owl-carousel {
    width: 50vw;
    height: 65vh;
}

.owl-carousel img {
    width: 50vw;
    height: 65vh;
    object-fit: cover;
} */


/* .single-proj-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
} */

/* .single-proj-img img {
    height: 350px;
    width: 80%;
    object-fit: cover;
} */

.single-proj-img {
    height: 55vh;
    background: url('https://via.placeholder.com/250x300');
    background-size: 90% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-title {
    width: 80%;
    /* font-size: 30px; */
}

.project-content {
    text-align: justify !important;
}

.section-blog {
    padding: 75px !important;
}

.overlay-container-down {
    position: relative;
    top: 50px;
}

.overlay-container-down-check {
    /* height: 70vh; */
    margin-top: -180px;
    z-index: 999;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;

}

.single-proj-vid iframe {
    width: 90%;
}

/* .card-custom-single-container{
    max-height: 350px;
    max-width: 200px;
}

.card-custom-single{
    width: 100% !important;
    padding: 10px 20px 10px 20px;
}
.card-custom-single img{
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease !important;
}
.card-custom-single:hover img {
    transform: scale(1.05);
} */

.content-img-section {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content-img-section img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    transition: all .3s ease;
}

.content-img-section img:hover {
    transform: scale(1.05);
    /* Optional: Scale up the image by 5% on hover */
}



.card-custom-single-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex: 1;
    margin-bottom: 16px;
    /* Ensure consistent spacing */
}

.card-custom-single {
    width: 100% !important;
    background-color: #fff;
    /* White background */
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Adds a subtle shadow for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-custom-single::before {
    content: "";
    display: block;
    padding-top: 75%;
    /* This maintains the 4:3 aspect ratio (3/4 * 100) */
}

.card-custom-single img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease !important;
}

.card-custom-single:hover img {
    transform: scale(1.05);
    /* Scale up the image by 5% */
}

.single-proj-img-section {
    display: flex;
    justify-content: center;
}

/* Media Queries for Responsive Design */
@media (min-width: 1200px) {
    .card-custom-single-container {
        max-width: 33.3333%;
        /* 3 cards per row */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-custom-single-container {
        max-width: 50%;
        /* 2 cards per row */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-custom-single-container {
        max-width: 50%;
        /* 2 cards per row */
    }

    .single-proj-img-section {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .card-custom-single-container {
        max-width: 100%;
        /* 1 card per row */
    }

    .single-proj-img-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-sec {
        padding: 0px !important;
    }

    .section-blog {
        padding: 50px 0px 0px 0px !important;
    }

    .card-custom-single {
        min-width: 250px;
        max-width: 430px;
        min-height: 200px;
        max-height: 300px;
    }

    .skip-content {
        font-size: 14px !important;
    }

}


/* common pop up img or video */

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50vw;
    height: 50vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50vw !important ;
    height: 50vh !important;
    top: 25%;
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
}

.close {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.view-more{
    cursor: pointer;
    /* color: #626d86 !important; */
    color: #007BFF !important;
}
.view-more:hover{
    color: #0055AA !important;
    text-decoration: underline;
}

.modal-content img{
    height: 50vh;
    /* width: 100% !important ; */
    object-fit: contain;
}

@media screen and (max-width:768px) {
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90vw !important ;
        height: 40vh !important;
        top: 25%;
        background-color: rgba(0, 0, 0, 0.3);
        
    }
    /* .modal-content img{
        height: 40vh;
        object-fit: contain;
    } */
    .view-more{
        font-size: 14px !important;
    }
}


/* Contact section */

.contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-text h2 {
    font-size: 44px;
    color: #19191a;
    margin-bottom: 24px;
}

.contact-text p {
    color: #707079;
}

.contact-text table tbody tr td {
    font-size: 16px;
    /* line-height: 36px; */
    font-weight: 500;
}

.contact-text table tbody {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
}

.contact-text table tbody tr td.c-o {
    color: #707079;
    width: 75px;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    color: #aaaab3;
    padding-left: 25px;
    margin-bottom: 28px;
}

.contact-head {
    font-size: 18px;
    letter-spacing: .1rem !important;
    font-weight: 500;
}

.contact-form input::-webkit-input-placeholder {
    color: #aaaab3;
}

.contact-form input::-moz-placeholder {
    color: #aaaab3;
}

.contact-form input:-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form input::-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form input::placeholder {
    color: #aaaab3;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    color: #aaaab3;
    padding-left: 25px;
    padding-top: 12px;
    margin-bottom: 33px;
    resize: none;
}

.contact-box {
    padding: 50px !important;
    background-color: #ffffff;
    min-height: 70vh !important;
}

.contact-form textarea::-webkit-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::-moz-placeholder {
    color: #aaaab3;
}

.contact-form textarea:-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::placeholder {
    color: #aaaab3;
}

/* .contact-form button {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 14px 34px 13px;
    display: inline-block;
} */

.contact-icon {
    font-size: 15px !important;
    color: #626d86 !important;
}

.contact-icon:hover {
    color: #4d576b !important;
}

.map {
    height: 470px;
    -webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
    margin-top: 75px;
}

.map iframe {
    width: 100%;
}

@media screen and (max-width:427px) {
    .contact-box {
        padding: 50px 20px !important;
    }

    .contact-box td {
        font-size: 14px !important;
    }

    .contact-text {
        padding-bottom: 20px;
    }

    .contact-form input {
        height: 40px;
        font-size: 14px;
    }
}

@media screen and (min-width:427px) and (max-width:769px) {
    .contact-box {
        padding: 50px 20px !important
    }

    .contact-box p {
        font-size: 16px;
    }

    .contact-box td {
        font-size: 16px !important;
    }

    .contact-text {
        padding-bottom: 20px;
    }
}

/* Loader styling */
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .progress {
    /* width: 80%;
    height: 1rem; */
    width: 250px;
    height: 3px;
    background-color: #e9ecef;
}

.loader .progress-bar {
    width: 0;
    height: 100%;
    background-color: #ffae42 !important;
    transition: width 0.6s ease;
}

.loader-title {
    letter-spacing: .1rem;
}