* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* overflow: hidden; */
}


body {
    /* letter-spacing: .1rem; */
    color: #626d86;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

a {
    color: #626d86 !important;
    text-decoration: none;
}

a:hover {
    color: #4d576b;
}

td {
    color: #626d86 !important;
}

hr.container {
    background-color: #ffffff !important;
    height: 1px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.prl-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.prl-75 {
    padding-right: 75px;
    padding-left: 75px;
}

.prl-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-75 {
    margin-top: 75PX;
}

.mt-50 {
    margin-top: 50PX;
}

.mb-100 {
    margin-bottom: 100PX;
}

.mb-75 {
    margin-bottom: 100PX;
}

.mb-50 {
    margin-bottom: 100PX;
}

.default-spacing {
    letter-spacing: .1rem;
}

.color-1 {
    color: #626d86 !important;
}

.bg-grey {
    background-color: #eef0f6;
}

.bg-white {
    background-color: #ffffff;
}

/* navbar */
.navbar.fixed-top {
    /* width: 90vw !important; */
    transition: background-color 0.5s ease;
    border-bottom: 1px solid #ffffff;
}

.navbar.scrolled {
    background-color: white !important;
}

.navbar .nav-link {
    color: #000000;
    letter-spacing: .1rem;
}

.navbar-brand,
.nav-icon {
    color: #000000 !important;
    font-weight: 600 !important;
}

.navbar-brand:hover,
.nav-icon:hover {
    color: #394357 !important;
}

.link-cont {
    font-size: 12px !important;
    color: #626d86 !important;
}

.link-cont:hover {
    color: #394357 !important;
}

.nav-icon {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
    /* color: inherit !important; */
}


/* a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
} */


swiper-container {
    width: 100%;
    height: 100vh;
}

swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* landin section */
.landing-section {
    height: 63vh;

}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
}

footer {
    color: #626d86;
}

footer p a {
    text-decoration: none;
    color: #626d86;
}

.footer-link:hover {
    color: #394357 !important;
}

/* button */
.button-default {
    background-color: #000000 !important;
    color: #ffffff;
    letter-spacing: .1rem;
    border-radius: 23px !important;
    border: none !important;
    padding: 10px !important;
    font-size: 14px !important;
}

/* Home page */

.left-right{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.title-left{
    font-size: 42px;
    font-weight: 600;
}

.image-container{
   height: 450px;
    width: 100%;
}
.image-container img{
    max-height: 450px;
    width: 100%;
    object-fit: cover;
}
.home-cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}
.home-card {
    min-height: 300px;
    padding: 50px 25px 50px 25px;
    flex: 1 0 25%; /* Four cards in a row for large screens */
    border: 1px solid #d3d3d3;
    margin: 0;
    transition: transform 0.2s ease-in, background-color 0.3s ease-in-out;
}
.home-card:hover {
    transform: scale(1.05); /* Enlarges the card on hover */
    background-color: white; /* Changes background color on hover */
    z-index: 1; /* Makes sure the card is above others when hovered */
}
.home-card-content {
    /* padding: 20px; */
    height: 100%;
    max-width: 250px;
    display: grid;
    grid-row: 1fr 3fr;
}
.home-card-content-down{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-card-content-down-para{
    max-width: 100px;
    text-align: right;
}
@media (max-width: 992px) {
    .home-card {
        flex: 1 0 50%; /* Two cards in a row for medium screens */
    }
}
@media (max-width: 768px) {
    .home-card {
        flex: 1 0 100%; /* One card per row for small screens */
    }
}


/* Project section */

.project-section {
    /* border-radius: 20px; */
    /* border: 1px solid #ffffff !important; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
    background-color: #ffffff;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.overlay-container {
    width: 93vw !important;
    position: relative;
    top: -100px; 
    right: -91px !important;
    z-index: 10; 
    padding-top: 150px; 
}

.project-para {
    text-align: justify;
}

.card-custom {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.card-custom img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    /* Set the pivot point to the center */
}

.card-custom:hover img {
    transform: scale(1.05);
    /* Scale up the image by 5% */
}

.card-custom::before {
    content: "";
    position: absolute;
    top: 15px;
    /* Adjust as needed */
    right: 15px;
    /* Adjust as needed */
    width: 20px;
    height: 20px;
    background: url('https://via.placeholder.com/20') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.8);
}

.card-custom:hover::before {
    opacity: 1;
    transform: scale(1);
}

.card-cont {
    padding: 15px;
}

.card-title {
    margin: 15px 0 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.card-text {
    text-align: center;
    color: #666;
}

.card-meta {
    text-align: center;
    font-size: 0.875rem;
    color: #999;
    margin-top: 10px;
}

/* Contact section */

.contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-text h2 {
    font-size: 44px;
    color: #19191a;
    margin-bottom: 24px;
}

.contact-text p {
    color: #707079;
}

.contact-text table tbody tr td {
    font-size: 16px;
    /* line-height: 36px; */
    font-weight: 500;
}

.contact-text table tbody {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
}

.contact-text table tbody tr td.c-o {
    color: #707079;
    width: 75px;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    color: #aaaab3;
    padding-left: 25px;
    margin-bottom: 28px;
}

.contact-form input::-webkit-input-placeholder {
    color: #aaaab3;
}

.contact-form input::-moz-placeholder {
    color: #aaaab3;
}

.contact-form input:-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form input::-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form input::placeholder {
    color: #aaaab3;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    color: #aaaab3;
    padding-left: 25px;
    padding-top: 12px;
    margin-bottom: 33px;
    resize: none;
}

.contact-box {
    padding: 50px !important;
    background-color: #ffffff;
    min-height: 70vh !important;
    /* border-radius: 20px; */
    /* border: 1px solid #ffffff !important; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
}

.contact-form textarea::-webkit-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::-moz-placeholder {
    color: #aaaab3;
}

.contact-form textarea:-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::-ms-input-placeholder {
    color: #aaaab3;
}

.contact-form textarea::placeholder {
    color: #aaaab3;
}

/* .contact-form button {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 14px 34px 13px;
    display: inline-block;
} */

.contact-icon {
    font-size: 15px !important;
    color: #626d86 !important;
}

.contact-icon:hover {
    color: #4d576b !important;
}

.map {
    height: 470px;
    -webkit-box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.15);
    margin-top: 75px;
}

.map iframe {
    width: 100%;
}


/* Loader styling */
/* .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .spinner-border {
    width: 3rem;
    height: 3rem;
    color: #007bff;
} */

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .progress {
    /* width: 80%;
    height: 1rem; */
    width: 250px;
    height: 3px;
    background-color: #e9ecef;
}

.loader .progress-bar {
    width: 0;
    height: 100%;
    background-color: #ffae42 !important;
    transition: width 0.6s ease;
}

.loader-title{
    letter-spacing: .1rem;
}

